<settings>
    <offline>false</offline>

    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>maven_public</id>
                    <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>tencent_public</id>
                    <url>https://mirrors.tencent.com/repository/maven/tencent_public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>thirdparty</id>
                    <url>https://mirrors.tencent.com/repository/maven/thirdparty/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>mqq</id>
                    <url>https://mirrors.tencent.com/repository/maven/mqq/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>thirdparty-snapshots</id>
                    <url>https://mirrors.tencent.com/repository/maven/thirdparty-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>maven-public-plugin</id>
                    <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>public-plugin</id>
                    <url>https://mirrors.tencent.com/repository/maven/tencent_public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>thirdparty-plugin</id>
                    <url>https://mirrors.tencent.com/repository/maven/thirdparty/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>tbds</id>
            <repositories>
                <repository>
                    <id>tbds-maven-public</id>
                    <url>http://tbdsrepo.oa.com/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>tbds</id>
                    <url>http://tbdsrepo.oa.com/repository/tbds/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>tbds</id>
                    <url>http://tbdsrepo.oa.com/repository/tbds/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>tbds-maven-public</id>
                    <url>http://tbdsrepo.oa.com/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>confluent_repo</id>
            <repositories>
                <repository>
                    <id>tencent-repo</id>
                    <url>https://mirrors.tencent.com/repository/maven/CSIG_TWINS</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>confluent</id>
                    <url>https://packages.confluent.io/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>tianqiong_releases</id>
            <repositories>
                <repository>
                    <id>tianqiong-releases</id>
                    <url>https://mirrors.tencent.com/repository/maven/tianqiong-releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>

        <profile>
            <id>tianqiong_snapshots</id>
            <repositories>
                <repository>
                    <id>tianqiong-snapshots</id>
                    <url>https://mirrors.tencent.com/repository/maven/tianqiong-snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>confluent_repo</activeProfile>
        <activeProfile>tianqiong_releases</activeProfile>
        <activeProfile>tianqiong_snapshots</activeProfile>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>thirdparty-snapshots</id>
            <username>ethansu</username>
            <password>664a1eeceee211e9b3cf6c92bf47000d</password>
        </server>
        <server>
            <id>tbds</id>
            <username>tbds</username>
            <password>tbds@Tbds.com</password>
        </server>
        <server>
            <id>tianqiong-releases</id>
            <username>g_datalake</username>
            <password>be3c75f8fc9a11e9b2a36c92bf3acd2c</password>
        </server>
        <server>
            <id>tianqiong-snapshots</id>
            <username>g_datalake</username>
            <password>be3c75f8fc9a11e9b2a36c92bf3acd2c</password>
        </server>
    </servers>
</settings>
